<!--
    {{Page Title}}
    {{Page Description}}

    {{Social Image URL}}

    {{Page URL}}
    
    {{Twitter Card Type}}

    {{Article Headline}}
    {{Article Image URL}}

    {{Publication Date}}
    {{Last Modified Date}}
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{Page Title}}</title>
    <meta name="description" content="{{Page Description}}">


    <link href="../tailwind.css" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="../assets/icons/favicon.svg">

    <!-- Social Media Meta Tags -->
    <meta property="og:title" content="{{Page Title}}">
    <meta property="og:description" content="{{Page Description}}">
    <meta property="og:image" content="{{Image URL}}">
    <meta property="og:url" content="{{Page URL}}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:title" content="{{Page Title}}">
    <meta name="twitter:description" content="{{Page Description}}">
    <meta name="twitter:image" content="{{Image URL}}">
    <meta name="twitter:card" content="{{Twitter Card Type}}">

    <!-- Schema.org JSON+LD -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{Page URL}}"
      },
      "headline": "{{Article Headline}}",
      "image": "{{Image URL}}",
      "author": {
        "@type": "Person",
        "name": "Joel Gabriel"
      },
      "datePublished": "{{Publication Date}}",
      "publisher": {
        "@type": "Person",
        "name": "Joel Gabriel",
        "logo": {
          "@type": "ImageObject",
          "url": "https://joelgabriel.com.au/assets/icons/favicon.svg"
        }
      }
    }
    </script>

    <!-- Prism.js -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css" rel="stylesheet"
        id="light-theme" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-tomorrow.min.css" rel="stylesheet"
        id="dark-theme" disabled />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/line-numbers/prism-line-numbers.min.css"
        rel="stylesheet" />
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/line-numbers/prism-line-numbers.min.js"></script>

    <!-- Dark Mode w/Prism -->
    <script>
        const isDark = localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches);
        const lightTheme = document.getElementById('light-theme');
        const darkTheme = document.getElementById('dark-theme');

        if (isDark) {
            document.documentElement.classList.add('dark');

            darkTheme.disabled = false;
            lightTheme.disabled = true;
        } else {
            document.documentElement.classList.remove('dark');

            darkTheme.disabled = true;
            lightTheme.disabled = false;
        }
    </script>
</head>

<body>
    <!-- Page Content -->
    <div class="flex flex-col min-h-screen bg-white dark:bg-gray-900">
        <!-- Header -->
        <header class="fixed top-0 w-full bg-white dark:bg-gray-900 shadow-md z-20">
            <div class="container mx-auto px-4 md:px-6">
                <div class="flex items-center justify-between h-16">
                    <div class="flex gap-4 items-center">
                        <!-- Small Circle profile.webp -->
                        <a href="#" rel="ugc">
                            <img itemprop="image"
                                class="w-10 h-10 rounded-full border-2 border-gray-900 dark:border-gray-100"
                                src="../assets/images/profile.webp"
                                alt="Black and white profile photo of Joel Gabriel, a man smiling and wearing a formal shirt and tie, suggesting a professional or celebratory occasion." />
                        </a>
                        <a class="flex flex-col gap-0.25" href="#" rel="ugc">
                            <span class="text-lg font-semibold dark:text-gray-300">Joel Gabriel</span>
                            <span class="text-sm dark:text-gray-300">Software Engineer Portfolio</span>
                        </a>
                    </div>
                    <nav class="hidden md:flex gap-4"><a
                            class="text-gray-500 hover:text-gray-900 dark:text-gray-100 dark:hover:text-gray-300"
                            href="#about" rel="ugc">
                            About
                        </a><a class="text-gray-500 hover:text-gray-900 dark:text-gray-100 dark:hover:text-gray-300"
                            href="#projects" rel="ugc">
                            Projects
                        </a><a class="text-gray-500 hover:text-gray-900 dark:text-gray-100 dark:hover:text-gray-300"
                            href="#certifications" rel="ugc">
                            Certifications
                        </a><a class="text-gray-500 hover:text-gray-900 dark:text-gray-100 dark:hover:text-gray-300"
                            href="#contact" rel="ugc">
                            Contact
                        </a></nav>
                </div>
            </div>
        </header>
        <main class="flex-1 md:px-32 sm:px-12 px-4 pt-16">
            <section>
                <div class="mb-8 pt-8 ">
                    <a class="back" href="/#projects" rel="ugc">
                        <svg class="with-icon_icon__MHUeb" data-testid="geist-icon" fill="none" height="24"
                            shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"
                            style="color: currentcolor; width: 14px; height: 14px;">
                            <path d="M19 12H5"></path>
                            <path d="M12 19l-7-7 7-7"></path>
                        </svg>Back to Projects
                    </a>
                    <div class="flex items-center justify-between mt-4 dark:text-gray-400">
                        <span>{{Publication Date}}</span>
                    </div>
                    <h1 class="title">{{Article Title}}</h1>
                    <!-- <p class="subtitle">Tell a more persuasive and engaging story of your assets and the market. Secure better
                leases and deals, by informing and inspiring every prospect.</p> -->
                </div>
                <img itemprop="image"
                    alt="A web application displaying a property portfolio on a map of Australia with various properties marked, including Riverside Quay in Melbourne and others across the country."
                    height="640" src="../assets/images/mapping-hero.webp" width="100%"
                    style="aspect-ratio: 1024 / 640; object-fit: fill;" />
                <div class="flex items-center justify-between mt-4 dark:text-gray-400">
                    <span>by Joel Gabriel</span>
                    <!-- See it in action, link to map -->
                    <a class="dark:text-blue-500 text-blue-500 hover:underline" target="_blank"
                        href="https://map.inspacexr.com/inspace/webflow-demo?mode=insights" rel="ugc">See
                        it in action</a>
                </div>

                <article class="prose lg:prose-xl my-8" itemscope itemtype="http://schema.org/Article">
                    <!-- Introduction Section -->
                    <section itemprop="articleSection" itemscope itemtype="http://schema.org/ArticleSection">
                        <h1 itemprop="headline">Introduction</h1>

                    </section>

                    <!-- Footer for page crawlers -->
                    <footer>
                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <meta itemprop="name" content="Joel Gabriel">
                        </span>
                        <div itemprop="publisher" itemscope itemtype="http://schema.org/Person">
                            <meta itemprop="name" content="Joel Gabriel">
                        </div>
                        <meta itemprop="datePublished" content="{{Publication Date}}">
                        <meta itemprop="dateModified" content="{{Last Modified Date}}">
                    </footer>
                </article>
            </section>
        </main>
    </div>
    <!-- Scripts -->
    <script>
        window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
</body>

</html>