@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.course-list-item-not-visible {
  opacity: 0;
  transform: translateX(50px); /* small right offset */
  visibility: hidden;
}

.course-list-item {
  opacity: 0;
  transform: translateX(100%);
  visibility: hidden;
  transition:
    transform 0.5s ease-out,
    opacity 0.5s ease-out;
}

.course-list-item-visible {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}

.course-card {
  @apply flex flex-col gap-2 rounded-lg bg-gray-50 p-4 shadow-md dark:bg-gray-900;
}

.purple-chip {
  @apply inline-flex items-center rounded-md bg-purple-100 px-2.5 py-0.5 text-sm font-medium text-purple-800;
}

.blue-chip {
  @apply inline-flex items-center rounded-md bg-blue-100 px-2.5 py-0.5 text-sm font-medium text-blue-800;
}

.orange-chip {
  @apply inline-flex items-center rounded-md bg-orange-100 px-2.5 py-0.5 text-sm font-medium text-orange-800;
}

.green-chip {
  @apply inline-flex items-center rounded-md bg-green-100 px-2.5 py-0.5 text-sm font-medium text-green-800;
}

.yellow-chip {
  @apply inline-flex items-center rounded-md bg-yellow-100 px-2.5 py-0.5 text-sm font-medium text-yellow-800;
}

/* Project Styles */
.title {
  @apply text-5xl font-bold dark:text-gray-50;
}

.subtitle {
  @apply mt-2 text-lg font-semibold dark:text-gray-200;
}

h1 {
  @apply mb-8 mt-4 text-4xl font-bold leading-tight dark:text-gray-50;
}

h2 {
  @apply mb-8 mt-4 text-4xl font-bold leading-tight dark:text-gray-50;
}

h3 {
  @apply text-2xl font-semibold dark:text-gray-200;
}

h4 {
  @apply text-xl font-semibold dark:text-gray-200;
}

h5 {
  @apply text-lg font-semibold dark:text-gray-200;
}

p {
  @apply text-base dark:text-gray-200;
}

li {
  @apply text-base dark:text-gray-200;
}

.back {
  @apply mb-16 flex items-center gap-2 text-base dark:text-gray-400;
}

/* Light theme styles (default) */
pre[class*="language-"] {
  background: #f5f5f5; /* Light background for code blocks */
  color: #333; /* Dark text for code blocks */
  /* other styles... */
}

/* Dark theme styles */
.dark pre[class*="language-"] {
  background: #0d0d0d; /* Dark background for code blocks */
  color: #ccc; /* Light text for code blocks */
  /* other styles... */
}
