@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.course-list-item-not-visible {
  opacity: 0;
  transform: translateX(50px); /* small right offset */
  visibility: hidden;
}

.course-list-item {
  opacity: 0;
  transform: translateX(100%);
  visibility: hidden;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.course-list-item-visible {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}

.course-card {
  @apply flex flex-col gap-2 bg-gray-50 dark:bg-gray-900 p-4 shadow-md rounded-lg;
}

.purple-chip {
  @apply inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-purple-100 text-purple-800;
}

.blue-chip {
  @apply inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-blue-100 text-blue-800;
}

.orange-chip {
  @apply inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-orange-100 text-orange-800;
}

.green-chip {
  @apply inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-green-100 text-green-800;
}

.yellow-chip {
  @apply inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-yellow-100 text-yellow-800;
}

/* Project Styles */
.title {
  @apply text-5xl font-bold dark:text-gray-50;
}

.subtitle {
  @apply text-lg font-semibold mt-2 dark:text-gray-200;
}

h1 {
  @apply text-4xl font-bold dark:text-gray-50 leading-tight mb-8 mt-4;
}

h2 {
  @apply text-2xl font-bold dark:text-gray-50;
}

h3 {
  @apply text-xl font-semibold dark:text-gray-200;
}

h4 {
  @apply text-lg font-semibold dark:text-gray-200;
}

h5 {
  @apply text-base font-semibold dark:text-gray-200;
}

p {
  @apply text-base dark:text-gray-200;
}

li {
  @apply text-base dark:text-gray-200;
}
